/* -------- Global Styles -------- */
* {
    font-family: Permanent Marker, Calibri; /* Set each instance of text to use the selected font. */
}

p {
    font-size: 18px;
}

/* --------------------------------------------------------- */

/* -------- Navigation Bar Styles -------- */
.logo-container {
    position: fixed; /* To maintain the img's position in the top-left of the viewport. */
    z-index: 1000; /* Placed above the navigation bar only. */
    left: 0; /* Reset positioning from the top to 0/nothing */
    top: 0; /* To allow horizontal positioning on the page. */
}

.logo-container img {
    height: 100.25px; /* Not a responsive choice of unit but it is satisfactory for this challenge. */
}

.tagline-container {
    position: fixed; /* To maintain the img's position in the top-left of the viewport. */
    z-index: 999; /* Placed above the navigation bar only. */
    left: 0; /* Reset positioning from the top to 0/nothing */
    top: 0; /* To allow horizontal positioning on the page. */
    margin-left: 342px; /* To position the tagline at an appropriate location along the navigation bar. */
    margin-top: 38px; /* To position the tagline at an appropriate height within the navigation bar. */
}

.tagline-container q {
    color: #e09a9a; /* A colour that compliments the overall design and is consistent (enough) with the logo image. */
    font-size: 22px; /* font size of choice to ensure the tagline is readable but not overpowering. */
    font-weight: lighter; /* The thinner text helped give the tagline a snappy and light feel to it. */
}

.navigation {
    position: fixed; /* Fixed relative to the viewport; it stays in place even the page is scrolled. */
    top: 0; /* Reset positioning from the top to 0/nothing */
    left: 0; /* To allow horizontal positioning on the page. */
    width: 100%; /* Percentage used to better support responsiveness, although that's not required as much in this challenge. */
    padding: 34px 0px; /* This is the desired space above and below the nav element, and no space either side as I want the width to cover 100% of the viewport. */
    z-index: 998; /* Almost-maximum index level to ensure this element stays on top of others. */
    background-color: #000000; /* A basic and supportive colour that helps the images 'pop' on screen. */
    border-bottom: 5px solid #ffffff; /* A strong line to establish a theme of white-glowing edges. */
    box-shadow: 0 2px 4px #ffffff; /* A clear and logical colour for navigation items for this design. */
}

.navigation ul {
    list-style: none; /* To remove list item markers. */
    padding: 0; /* No padding is needed for the unordered list within the nav. Eliminates any browser-defaults that may be applied when rendering. */
    margin: 0; /* Same as padding. */
    margin-left: 10%; /* To shift the entire list to the right as designed in the brief. */
    display: flex; /* Allows the nested ul items to be responsive to various screen sizes. This maintains the stretch across the screen (100% width). */
    justify-content: center; /* Maintains a central position. */
    align-items: center; /* Align items to the center regardless of flex items. */
}

.navigation li {
    margin: 0 45px; /* Desired spacing between each list item. */
}

.navigation a {
    text-decoration: none; /* Remove default formatting from anchor tags (e.g. underline). */
    font-family: Permanent Marker, Calibri; /* Ensure the font formatting applies to list items too. */
    font-size: 26px; /* Desired font size. */
    font-weight: lightest; /* A light weight feels appropriate for purpose. */
    color: white; /* A subtle way to style the boundary between the fixed nav and the content that follows. */
    transition: color 0.3s, border-bottom 0.08s, border-top 0.08s; /* To change the text colour and show coloured borders above and below - will be triggered by mouse hover. */
    padding-bottom: 5px; /* Space between the list item and the respective mouse-hover borders. */
}

.navigation #pages:hover { /* ID assigned to the page links to prevent the hover styling from applying to the social media icons. */
    color: #e09a9a; /* The same colour from the tagline text for consistency. */
    border-bottom: 30px solid white; /* A solid white block when the mouse is hovered. Sized to reach the very bottom of the navigation bar. */
    border-top: 35px solid white; /* A solid white block when the mouse is hovered. Sized to reach the very top of the viewport.*/
}

.nav-socials {
    position: fixed; /* Maintain the container's position in the top-right of the viewport. */
    top: 0; /* Reset positioning from the top to 0/nothing */
    right: 0; /* To allow horizontal positioning on the page. */
    margin-top: 0; /* To keep the container flush to the top of the viewport. */
    padding-top: 23px; /* Desired positioning of the container within the navigation bar. */
    padding-right: 10px; /* Desired positioning of the container within the navigation bar. */
}

.nav-socials a { /* Styling applied to the anchor tags as they contain nested elements themselves (e.g. <i>). */
    color: #e09a9a; /* The same colour from the tagline text for consistency. */
    z-index: 999; /* Placed above the navigation bar only. */
    margin: 16px 12px 0 12px; /* Desired spacing between each icon. */
    font-size: 40px; /* The size of each social media icon. */
}

#twitter:hover {
    color: #1D9BF0; /* Changes to the specific brand colour of Twitter on mouse hover. */
}
#facebook:hover { /* Changes to the specific brand colour of Facebook on mouse hover. */
    color: #1877F2;
}
#instagram:hover { /* Changes to the specific brand colour of Instagram on mouse hover. */
    color: #c1558b;
}
/* --------------------------------------------------------- */

/* -------- Header Styles -------- */

h1 {
    font-size: 68px; /* Desired font size. */
    font-weight: normal; /* Desired font weight. */
    color: #000000; /* Complete contrast from the container background colour to ensure immediate readability. */
    margin: 0; /* Reset any browser-default margins. */
}

.header-container h1 {
    border-bottom: 6px solid #ffffff; /* Colour of choice for the underline to match the overall theme of the design. */
    padding-bottom: 0px; /* The perfect distance for the desirted effect with the border underline. */
    box-sizing: border-box; /* To ensure the padding and border are included in the total width and height of the container. */
    display: inline-block; /* To ensure the border-bottom is only applied to the text and not the entire width of the container. */
    line-height: 1.3; /* To ensure the text is not too close to the border-bottom. */
}

h2 {
    font-size: 38px; /* Desired font size. */
    font-weight: normal; /* Desired font weight. */
    color: #000000; /* Complete contrast from the container background colour to ensure immediate readability. */
    margin: 0; /* Reset any browser-default margins. */
}
/* --------------------------------------------------------- */

/* -------- Body Styles -------- */

body {
    background-color: #e09a9a; /* Maintaining the same colour throughout the page. */
}

main .bg-container {
    margin-top: 126px; /* To ensure the content is not hidden behind the fixed navigation bar. */
    margin-left: 18px; /* To ensure the content is not flush to the edges of the viewport. */
    margin-right: 18px; /* To ensure the content is not flush to the edges of the viewport. */
    margin-bottom: 50px; /* To ensure the content is not flush to the bottom edge of the viewport. */
    border: 2px solid #ffffff; /* A strong border to help define the content area. */
    border-radius: 12px; /* A stylistic choice to soften the edges of the content area. */
    box-shadow: inset 0 0 2px 3px #ffffff, 0 0 4px 2px #ffffff; /* A stylistic choice to add depth to the content area with both an inset and external drop shadow in white. */
    position: relative; /* To allow the nested elements to be positioned relative to this container. */
    display: flex; /* Similar to the above. */
    flex-direction: column; /* To allow the nested elements to be positioned in a vertical stack. */
    justify-content: start; /* To ensure the content is centered vertically within the container. */
    height: 100vh; /* To ensure the container takes up the full height of the viewport. */
    padding: 2rem; /* To ensure the content is not flush to the edges of the container. */
    background-image: url('images/index/hero-image.jpg'); /* The background image for the content area. */
    background-size: cover; /* To ensure the background image covers the entire container. */
    background-position: center; /* To ensure the background image is centered within the container. */
    background-repeat: no-repeat; /* To ensure the background image does not repeat. */
    box-sizing: border-box; /* To ensure the padding and border are included in the total width and height of the container. */
}

main .header-box {
    width: 540px; /* Desired width of the container. */
    padding: 25px 25px 35px 25px; /* To ensure the content is not flush to the edges of the container. */
    border-radius: 12px; /* A stylistic choice to soften the edges of the content area. */
    margin-top: 175px; /* To ensure the container is positioned appropriately within the parent container. */
    margin-left: 25px; /* To ensure the container is positioned appropriately within the parent container. */
    border: 5px solid #000000; /* A strong border to help define the content area. */
    background-color: rgba(251, 132, 95, 0.371); /* Great contrast for the header text to ensure immediate readability. */
    box-shadow: 0 0 2px 2px #000000; /* to soften the edges of the content area. */
    box-shadow: 5px 5px 5px 0 #323232; /* A stylistic choice to add depth to the content area. */
    transition: border 0.3s, box-shadow 0.3s; /* Allows the border and box-shadow to change smoothly when the mouse is hovered over the container. */
}

.header-box:hover {
    box-shadow: 0 0 1px 1px #ffffff; /* A slightly glowing effect to subtly inform the user that their mouse is hovering over the container. */
    border: 5px solid #ffffff; /* As above. */
}

main .under-header-box {
    margin: 0; /* Reset any browser-default margins. */
    margin-left: 25px; /* To ensure the container is positioned appropriately within the parent container. */
    margin-top: 10px; /* To ensure the container is positioned appropriately below the header container. */
    display: inline-block; /* To allow the paragraph container and button containers to be stacked vertically. */
    width: 440px; /* Desired width of the container. */
    padding: 0; /* To ensure the content is flush to the edges of the container. */
}

main .paragraph-box {
    width: 540px; /* Desired width of the container. */
    padding: 15px 25px 25px 25px; /* To ensure the content is not flush to the edges of the container. */
    background-color: rgba(253, 246, 250, 0.532); /* Great contrast for the text to ensure immediate readability. */
    border-radius: 12px; /* A stylistic choice to soften the edges of the content area. */
    border: 5px solid #000000; /* A strong border to help define the content area. */
    box-shadow: 5px 5px 5px 0 #323232; /* A stylistic choice to add depth to the content area. */
    display: flex; /* To allow the nested elements to be positioned in various ways relative to each other. */
    flex-direction: column; /* Arrange the nested elements in a vertical stack. */
    transition: border 0.3s, box-shadow 0.3s; /* Allows the border and box-shadow to change smoothly when the mouse is hovered over the container. */
    box-sizing: border-box; /* To ensure the padding and border are included in the total width and height of the container. */
}

.paragraph-box:hover {
    box-shadow: 0 0 1px 1px #ffffff; /* A slightly glowing effect to subtly inform the user that their mouse is hovering over the container. */
    border: 5px solid #ffffff; /* As above. */
}

main .paragraph-box p {
    width: 100%; /* To ensure the <p> element takes up the full width of the container. */
}

.read-more {
    background-color: rgba(251, 132, 95, 0.371); /* A simple button colour that complements the overall design. */
    align-self: flex-end; /* Moves the button from the botom left of the flex-column to the bottom right. */
    padding: 0px 10px; /* Desired padding for the button. */
    border-radius: 12px; /* A stylistic choice to soften the edges of the button. */
    border: 3px solid #ffffff; /* A strong border to help define the button area. */
    box-shadow: 0 0 2px 1px #ffffff; /* To slightly soften the edges of the button before it is clicked. */
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s; /* To change the button colour - will be triggered by mouse hover. */
}

.read-more a {
    text-decoration: none; /* Remove default formatting from anchor tags (e.g. underline). */
    color: #000000; /* A colour that compliments the overall design. */
    font-size: 26px; /* Desired font size. */
    font-weight: 100; /* A light weight feels appropriate for purpose. */
    transition: color 0.3s; /* To change the text colour - will be triggered by mouse hover. */
}

.read-more:hover {
    background-color: rgba(251, 131, 95, 0.501); /* Becomes less transparent to indicate it is in focus. */
    border: 3px solid #000000; /* A contrasting border to highlight the button. */
    box-shadow: 5px 5px 5px 0 #323232, 0 0 4px 1px inset #000000; /* Creates the effect of the button hovering/lifting once hovered. */
}

.read-more:hover a {
    color: #ffffff; /* A colour that compliments the overall design. */
}

.under-header-buttons-box {
    display: flex; /* To allow the nested elements to be positioned in various ways relative to each other. */
    width: 540px; /* Desired width of the container. */
    margin-top: 10px; /* To ensure the container is positioned appropriately below the paragraph container. */
    padding: 0px; /* To ensure the content is flush to the edges of the container. */
    gap: 10px; /* To ensure the buttons are not flush to each other. */
}

.portfolio-button,
.services-button {
    flex: 1; /* To ensure the buttons take up equal space within the flex container. */
    background-color: rgba(143, 151, 91, 0.875); /* An attempt to draw in a teriary colour from the lollipop in the hero image. */
    border-radius: 12px; /* A stylistic choice to soften the edges of the button. */
    border: 5px solid #000000; /* A strong border to help define the button area. */
    box-shadow: 5px 5px 5px 0 #323232; /* To slightly soften the edges of the button before it is clicked. */
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s; /* To change the button colour - will be triggered by mouse hover. */
}

.portfolio-button a,
.services-button a {
    text-decoration: none; /* Remove default formatting from anchor tags (e.g. underline). */
    color: #ffffff; /* A clear and readable colour for the text. */
    font-size: 26px; /* Desired font size. */
    font-weight: 100; /* A light weight feels appropriate for purpose. */
    transition: color 0.3s; /* To change the text colour - will be triggered by mouse hover. */
}

.portfolio-button:hover,
.services-button:hover {
    background-color: rgba(143, 151, 91, 0.325); /* Becomes more transparent to emphasise the glowing edges when hovering. */
    border: 5px solid #ffffff; /* A contrasting border to highlight the button. */
    box-shadow: 0 0 5px 0 #ffffff, 0 0 4px 1px inset #ffffff; /* Creates the effect of the button glowing once hovered. */
}

.portfolio-button:hover a,
.services-button:hover a {
    color: #000000; /* A contrasting colour for the text when the button is hovered. */
}
/* --------------------------------------------------------- */

/* -------- Footer Styles -------- */

/* --------------------------------------------------------- */

/* -------- Media Queries -------- */

/* --------------------------------------------------------- */