/* -------- Global Styles -------- */
* {
    font-family: Kreon, Calibri; /* Set each instance of text to use the selected font. */
}

/* --------------------------------------------------------- */

/* -------- Navigation Bar Styles -------- */
.logo-container {
    position: fixed; /* To maintain the img's position in the top-left of the viewport. */
    z-index: 1000; /* Placed above the navigation bar only. */
    left: 0; /* Reset positioning from the top to 0/nothing */
    top: 0; /* To allow horizontal positioning on the page. */
}

.logo-container img {
    height: 100.25px; /* Not a responsive choice of unit but it is satisfactory for this challenge. */
}

.tagline-container {
    position: fixed; /* To maintain the img's position in the top-left of the viewport. */
    z-index: 999; /* Placed above the navigation bar only. */
    left: 0; /* Reset positioning from the top to 0/nothing */
    top: 0; /* To allow horizontal positioning on the page. */
    margin-left: 342px; /* To position the tagline at an appropriate location along the navigation bar. */
    margin-top: 38px; /* To position the tagline at an appropriate height within the navigation bar. */
}

.tagline-container q {
    color: #EA2E80;
    font-size: 22px;
    font-weight: lighter;
}

.navigation {
    position: fixed; /* Fixed relative to the viewport; it stays in place even the page is scrolled. */
    top: 0; /* Reset positioning from the top to 0/nothing */
    left: 0; /* To allow horizontal positioning on the page. */
    width: 100%; /* Percentage used to better support responsiveness, although that's not required as much in this challenge. */
    padding: 34px 0px; /* This is the desired space above and below the nav element, and no space either side as I want the width to cover 100% of the viewport. */
    z-index: 998; /* Almost-maximum index level to ensure this element stays on top of others. */
    background-color: #000000; /* A basic and supportive colour that helps the images 'pop' on screen. */
    box-shadow: 0 8px 16px white; /* A clear and logical colour for navigation items for this design. */
}

.navigation ul {
    list-style: none; /* To remove list item markers. */
    padding: 0; /* No padding is needed for the unordered list within the nav. Eliminates any browser-defaults that may be applied when rendering. */
    margin: 0; /* Same as padding. */
    margin-left: 10%; /* To shift the entire list to the right as designed in the brief. */
    display: flex; /* Allows the nested ul items to be responsive to various screen sizes. This maintains the stretch across the screen (100% width). */
    justify-content: center; /* Maintains a central position. */
    align-items: center; /* Align items to the center regardless of flex items. */
}

.navigation li {
    margin: 0 45px; /* Desired spacing between each list item. */
}

.navigation a {
    text-decoration: none; /* Remove default formatting from anchor tags (e.g. underline). */
    font-family: Kreon, Calibri; /* Ensure the font formatting applies to list items too. */
    font-size: 26px; /* Desired font size. */
    font-weight: normal; /* Normal weight feels appropriate for purpose. */
    color: white; /* A subtle way to style the boundary between the fixed nav and the content that follows. */
    transition: color 0.3s, border-bottom 0.08s, border-top 0.08s; /* To change the text colour and show coloured borders above and below - will be triggered by mouse hover. */
    padding-bottom: 5px; /* Space between the list item and the respective mouse-hover borders. */
}

.navigation a:hover {
    color: #EA2E80; /* The exact hexidecimal colour from the logo image for consistency. */
    border-bottom: 29px solid white; /* A solid white block when the mouse is hovered. Sized to reach the very bottom of the navigation bar. */
    border-top: 34px solid white; /* A solid white block when the mouse is hovered. Sized to reach the very top of the viewport.*/
}
/* --------------------------------------------------------- */

/* -------- Header Styles -------- */

/* --------------------------------------------------------- */

/* -------- Body Styles -------- */

body {
    background-color: #000000; /* A basic and supportive colour that helps the images 'pop' on screen. */
}

/* --------------------------------------------------------- */

/* -------- Footer Styles -------- */

.nav-socials {
    display: flex; /* Used in combination with 'justify-content: end' to bring the content to the top-right corner. */
    justify-content: end; /* As above. */
    margin-top: 0; /* To ensure the container is flush to the top of the viewport. */
    font-size: 40px; /* The size of each social media icon. */
}

.nav-socials a { /* Styling applied to the anchor tags as they contain nested elements themselves (e.g. <i>). */
    color: #EA2E80; /* The exact hexidecimal colour from the logo image for consistency. */
    z-index: 999; /* Placed above the navigation bar only. */
    margin: 16px 12px 0 12px; /* Desired spacing between each icon. */
}

#twitter:hover {
    color: #1D9BF0; /* Changes to the specific brand colour of Twitter on mouse hover. */
}
#facebook:hover { /* Changes to the specific brand colour of Facebook on mouse hover. */
    color: #1877F2;
}
#instagram:hover { /* Changes to the specific brand colour of Instagram on mouse hover. */
    color: #c1558b;
}
/* --------------------------------------------------------- */

/* -------- Media Queries -------- */

/* --------------------------------------------------------- */